<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <%- include ("layout.ejs") %>

  <!-- Page Content -->
  <div class="container">

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-12 my-sm-4" type="submit">Search</button>
    </form>

    <div class="row">

      <div class="col-lg-3">
        <!-- ชื่อร้าน -->
          <h1 class="my-4"> ชื่อร้าน </h1>
          
      

        <div class="list-group">
          <!-- Cateogory -->
          <a href="#" class="list-group-item"> Category </a>

        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>

          <div class="row">
            <% menuList.forEach((menu) => { %>
              <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="<%= menu.menuImg %>" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#"><%= menu.menuName %></a>
                  </h4>

                  <h5><%= menu.price %> บาท </h5>
                  <p class="card-text"><%= menu.menuDetail %>
                  </p>
                  <button class="btn btn-success" type="submit" value="<%= menu.id %>  style="width: 90%;">+Add</button>
                </div>

              </div>
            </div>
              <% }); %>
              
            
          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
</body>

</html>