<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Site meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title> <%= shopName %> </title>
  <!-- CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <!--===============================================================================================-->

</head>

<body>
  <%- include ("layout.ejs") %>

  <!-- Page Content -->
  <div class="container">

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-12 my-sm-4" type="submit">Search</button>
    </form>

    <div class="row">

      <div class="col-lg-3">
        <!-- ชื่อร้าน -->
        <div class="list-group">
          <h1 class="my-4"><%= shopName %></a>
        </div>

        <!-- Cateogory -->
        <div class="card bg-light mb-3">
          <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
          <ul class="list-group category_block">
           
              <% categoriesList.forEach((categories) => { %>
                <li class="list-group-item"><a
                  href="/menus/<%= storeId %>/<%= categories.categoryId %>"><%= categories.categoryName %></a>
                </li>
              <% }); %>
          
          </ul>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <div class="row">
          <% menuList.forEach((menu) => { %>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="<%= menu.menuImg %>" alt="">
              <div class="card-body">
                <h4 class="card-title">
                  <%= menu.menuName %>
                </h4>

                <h5><%= menu.price %> บาท </h5>
                <p class="card-text"><%= menu.menuDetail %>
                </p>
                <button class="btn btn-success" type="submit" value="<%= menu.id %>  style=" width: 90%;">+Add</button>
              </div>

            </div>
          </div>
          <% }); %>


        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</body>

</html>