<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Site meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title> </title>
  <!-- CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <!--===============================================================================================-->

</head>

<body>
  <%- include ("layoutsearch.ejs") %>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <!-- shopname -->
        <div class="list-group">
          <h1 class="my-4"><%= shopName %></a>
        </div>
     
        <!-- Cateogory -->
        <div class="card bg-light mb-3">
          <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
          <ul class="list-group category_block">

            <% categoriesList.forEach((categories) => { %>
            <li class="list-group-item"><a
                href="/shops/<%= storeId %>/<%= categories.categoryId %>"><%= categories.categoryName %></a>
            </li>
            <% }); %>

          </ul>
        </div>
      </div>

      <!-- menus -->
      <div class="col-lg-9">
        <div class="row">
          <% menuList.forEach((menu) => { %>
          <div class="col-lg-4 col-md-6 mb-4" id="menuList">
            <div class="card h-100">
              <img class="card-img-top" src="<%= menu.menuImg %>" alt="">
              <div class="card-body">
                <h4 class="card-title">
                  <%= menu.menuName %>
                </h4>

                <h5><%= menu.price %> บาท </h5>
                <p class="card-text"><%= menu.menuDetail %>
                </p>
                <button class="get-data btn btn-success shop-item-button" type="submit" value="<%= menu.menuId %>">ADD
                  TO CART</button>
              </div>

            </div>
          </div>
          <% }); %>


        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  
  <!-- Scripts -->
  <script>
    const button = document.querySelectorAll(".get-data");
    const menuCount = document.querySelector("#menu-count");

    let menuCounter = 0

    let menus = JSON.parse(sessionStorage.getItem("fo_menus"));
    let menusLength = 0;
    if (menus != null)
      menusLength = menus.length;
    else
      menus = [];

    for (let i = 0; i < button.length; i++) {
      button[i].addEventListener
        (
          "click",
          () => {
            let dishId = button[i].value;
            // let isPresent = false;
            // for(let j = 0; j < menusLength; j++)
            // {
            // 	if(dishId === menus[j])
            // 	{
            // 		isPresent = true;
            // 		break;
            // 	}
            // }

            // if(isPresent === false)
            // {
            // 	menus.push(dishId);
            // 	button[i].innerHTML="ADDED";
            // 	menuCounter++;
            // 	menuCount.innerText = menuCounter;
            // 	// button[i].disabled = true;
            // 	sessionStorage.setItem("fo_menus", JSON.stringify(menus));
            // }

            if (button[i].innerText === "ADD TO CART") {
              menus.push(dishId);
              sessionStorage.setItem("fo_menus", JSON.stringify(menus));

              menuCounter++;
              menuCount.innerText = menuCounter;

              button[i].innerText = "ADDED";
            }
            else {
              menus = menus.filter(dish => dishId != dish);
              sessionStorage.setItem("fo_menus", JSON.stringify(menus));

              menuCounter--;
              menuCount.innerText = menuCounter;

              button[i].innerText = "ADD TO CART";
            }
          }
        );
    }

    window.addEventListener
      (
        "load",
        () => {
          const menusArr = JSON.parse(sessionStorage.getItem("fo_menus"));

          if (menusArr && menusArr.length > 0) {
            for (let i = 0; i < button.length; i++) {
              for (let j = 0; j < menusArr.length; j++) {
                if (menusArr[j] === button[i].value) {
                  button[i].innerHTML = "ADDED";
                  menuCounter++;
                }
              }
            }

            menuCount.innerText = menuCounter;
          }
        }
      );
  </script>
</body>

</html>